
# Folder config file
desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Python
*.py[cod]
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Extra Folders
.ipynb_checkpoints/*
data/
Instrumental/
labview_kinesis/
Santec_TSL210/
thorlabs_apt/
thorlabs_kinesis/

# Data files
*.dat